body {
	padding-top: 70px;
}

.panel-body .form-group:first-of-type {
	margin-top: 15px;
}

.sort-link.sort-link-asc:after {
	content: ' ▲';
}

.sort-link.sort-link-desc:after {
	content: ' ▼';
}

.cursor-pointer {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #f5f5f5;
}

.table-valign td {
	vertical-align: middle !important;
}
